<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:bf="http://www.thymeleaf.org">
	

<div class="table-container">
	<form id="edit-dic-content-form" method="post">
		<input type="hidden" id="dic-content-id" name="id" />
		<input type="hidden" id="dic-content-type" name="type.id" />
		<table class="edit-table">
			<tr>
				<th>字典内容名称：</th>
				<td>
					<input class="easyui-textbox" id="dic-content-name" name="name" data-options="required:true,width:240" />
				</td>
			</tr>
			<tr>
				<th>字典内容编码：</th>
				<td>
					<input class="easyui-textbox" id="dic-content-code" name="code" data-options="width:240" />
				</td>
			</tr>
			<tr>
				<th>上级字典内容编码：</th>
				<td>
					<input class="easyui-textbox" id="dic-content-parent" name="parentContent.code" data-options="width:240" />
				</td>
			</tr>
			<tr>
				<th>排序号：</th>
				<td>
					<input class="easyui-numberbox" id="dic-content-orderNo" name="orderNo" data-options="required:true,min:0,precision:0,width:240" value="1" />
				</td>
			</tr>
		</table>
	</form>
</div>
</html>