<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:xunjia="http://www.thymeleaf.org">

<head>
	<div th:replace="framework/include/head::head"></div>
	<script type="text/javascript" src="/global/js/ten-factory-formatter.js"></script>
</head>

<body>
	<div class="easyui-layout" fit="true">
		<div data-options="region:'north',height:53" style="padding:10px 8px 10px 8px;overflow:hidden;">
			<a>站名称：</a>
			<select class="easyui-combobox" id="query-stations" data-options="
                url:'/dmgc_s_sclz/getAll',
                width: 150,
                textField: 'mc',
                valueField: 'eventId',
                editable: true,
                loadFilter : function (data) {
                  if (data) {
                      data.splice(0, 0, {mc: '全部', eventId: ''});
                  }
                  return data;
              },
            ">
			</select>
			<input id="query-startDate-key" class="easyui-datebox" editable="false" value="true"
				data-options="width:240,label:'生产日期：' ,labelAlign:'right',labelWidth:90" />
			<!-- <input id="query-endDate-key" class="easyui-datebox" editable="false" value="true"
				data-options="width:240,label:'结束时间：' ,labelAlign:'right',labelWidth:90" /> -->
			<a href="javascript:" onclick="searchPageData();" class="easyui-linkbutton" iconCls="fa fa-search">查询</a>
			<a href="javascript:" onclick="importData();" class="easyui-linkbutton"
				iconCls="fa fa-cloud-upload">同步数据</a>
			<a href="javascript:" onclick="exportData();" class="easyui-linkbutton"
				iconCls="fa fa-cloud-download">导出</a>
		</div>
		<div data-options="region:'center'">
			<table id="display-data-table"></table>
		</div>
	</div>

	<script th:inline="none">
		$(function () {
			$("#display-data-table").datagrid({
				url: '/dmgc_s_d_sbyx/getPageData',
				fit: true,
				fitColumns: true,
				striped: true,
				loadMsg: '数据加载中，请稍候...',
				pagination: true,
				pageSize: 20,
				rownumbers: true,
				queryParams: {
					'startDate': $("#query-startDate-key").datebox('getValue'),
					'endDate': $("#query-startDate-key").datebox('getValue'),
				},
				columns: [[
					// { "field": "sbid", "title": "设备id", "width": 110 },
					{ "field": "rq", "title": "日期", "width": 110 },
					{ "field": "sszm", "title": "所属站", "width": 110 },
					{ "field": "sbbh", "title": "站内编号", "width": 110 },
					{ "field": "yxzt", "title": "运行状态", "width": 110, formatter: equipmentRunFormatter },
					{ "field": "sblx", "title": "设备类型", "width": 110 },
					{ "field": "yxsj", "title": "运行时间", "width": 110 },
					// { "field": "sssbbm", "title": "所属设备表名", "width": 110 },
					{ "field": "bz", "title": "备注", "width": 110 },
					// { "field": "ssdwdm", "title": "所属单位代码", "width": 110 }
				]]
			});
		});

		function searchPageData() {
			$("#display-data-table").datagrid('load', {
				'sszm': $('#query-stations').combobox('getText') === '全部' ? '' : $('#query-stations').combobox('getText'),
				'startDate': $("#query-startDate-key").datebox('getValue'),
				'endDate': $("#query-startDate-key").datebox('getValue'),
			});
		}

		function exportData() {
			window.open("/dmgc_s_d_sbyx/exportData?startDate=" +
				$("#query-startDate-key").datebox('getValue') +
				"&endDate=" +
				$("#query-startDate-key").datebox('getValue'));
		}

		function importData() {
			$.ajax({
				type: "get",
				url: "http://11.11.111.226:8099/dmgc_s_d_sbyx_sync/getA5_Data",
				data: {
					startTime: $('#query-startDate-key').datebox('getValue'),
					endTime: $('#query-startDate-key').datebox('getValue'),
				},
				success: function (response) {
					searchPageData();
				}
			})
		}
	</script>
</body>

</html>