.table-container {
	margin: 0 auto;
	width: 98%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.edit-table{
	border: 1px solid #dddddd;
	border-collapse: collapse;
	font-size: 13px;
	width: 100%;
}
.edit-table th {
	background-color: #f4f4f4;
	/*border: 1px solid #dddddd;*/
	font-weight: bold;
	height: 34px;
	padding: 5px;
	text-align:right;
}
.edit-table td {
	background-color: #ffffff;
	/*border: 1px solid #dddddd;*/
	height: 34px;
	padding: 5px;
	text-align: left;
}
.radius-img {
	border-radius: 50%;
}
.datagrid-toolbar {
	text-align:right;
	padding:5px 18px 5px 0px !important;
}