<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
<div class="table-container">
	<form id="edit-user-password-form" method="post">
		<table class="edit-table">
			<tr>
				<th>用户名：</th>
				<td>
					<input class="easyui-textbox" id="user-username" name="username" data-options="editable:false,width:240" />
				</td>
			</tr>
			<tr>
				<th>新密码：</th>
				<td>
					<input class="easyui-passwordbox" id="user-password" name="newPassword" data-options="width:240,showEye:true" />
				</td>

			</tr>
			<tr>
				<th>确认密码：</th>
				<td>
					<input class="easyui-passwordbox" id="user-repwd" data-options="equals:['#user-password'],width:240,showEye:true" />
				</td>
			</tr>
			<tr>
				<td colspan="2" style="color:rgb(199,0,11)" th:utext="${passwordDescription}"></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>