<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xunjia="http://www.thymeleaf.org">

<head>
    <div th:replace="framework/include/head::head"></div>
</head>

<body>
<div class="easyui-layout" fit="true">
    <div data-options="region:'west',width:210">
        <div id="org-tree" class="easyui-tree" data-options="
				url: '/org/getOrgTree',
				animate: true">
        </div>
    </div>
    <div data-options="region:'north',height:53" style="padding:10px 8px 10px 8px;overflow:hidden;">
        <input id="evaluation-index-name-key" class="easyui-textbox"
               data-options="width:240,label:'评价指标名称：' ,labelAlign:'right',labelWidth:90"/>
        <input id="evaluation-index-level-key" class="easyui-textbox"
               data-options="width:240,label:'评价指标级别：' ,labelAlign:'right',labelWidth:90"/>
        <input id="indicator-weights-key" class="easyui-textbox"
               data-options="width:240,label:'权重：' ,labelAlign:'right',labelWidth:80"/>
        <a href="javascript:" onclick="searchPageData();" class="easyui-linkbutton"
           iconCls="fa fa-search">查询</a>
    </div>
    <div data-options="region:'center'">
        <table id="display-data-table"></table>
        <div id="user-operation-bar" class="datagrid-toolbar">
            <xunjia:button th:menu-id="${menuId}" perm-code="stationSystem:save"/>
            <xunjia:button th:menu-id="${menuId}" perm-code="stationSystem:update"/>
            <xunjia:button th:menu-id="${menuId}" perm-code="stationSystem:delete"/>
        </div>
    </div>
</div>

<script th:inline="none">
    var queryType = getUrlParam('stationType')
	$(function(){
		$("#display-data-table").datagrid({
			url: '/stationSystem/findStationSystems',
			idField: 'id',
			fit: true,
			fitColumns: true,
			striped: true,
			loadMsg: '数据加载中，请稍候...',
			pagination: true,
			pageSize: 20,
			rownumbers: true,
			toolbar: "#user-operation-bar",
			queryParams: {
		        stationType: queryType,
	        },
			columns: [[
				{
					field: 'id',
					checkbox: true
				},
				{
					field: 'stationSystemName',
					title: '站名称',
					width: 80
				}, {
					field: 'stationSystemCode',
					title: '站编码',
					width: 60
				}, {
					field: 'evaluationIndexName',
					title: '评价指标名称',
					width: 80
				}, {
					field: 'evaluationIndexLevel',
					title: '评价指标级别',
					width: 80
				}, {
					field: 'weights',
					title: '权重',
					width: 80
				}
			]]
		});
	});

	function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }
	
	function add(){
		var selectedRows = $("#display-data-table").datagrid("getSelections");
		if (selectedRows.length > 1){
			$.messager.alert("提示信息", "您只能选择一个组织机构。", "warning");
			return;
		}
		
		var addDialog = $("<div></div>").dialog({
			title: '添加数据',
			width: 630,
			height: 340,
			modal: true,
			iconCls: "fa fa-pencil-square-o",
			href: '/stationSystem/toAdd',
			onLoad: function(){
			    $("#station-type").val(queryType);
			    $("#indicator-code-select").combotree({
                    onChange:function(newValue,oldValue) {
                        $.ajax({
                            url: '/org/findById',
                            data: { id: newValue },
                            type: 'get',
                            dataType: 'json',
                            success: function(data){
                                $("#professional-system-code").val(data.parent.code);
                                $("#station-system-code").val(data.code);
                                $("#station-system-name").val(data.name);
                                $("#select-node-type").val(data.type.name);
                                if(data.type.name !== '站'){
                                    $.messager.alert('提示信息', '请选择类型为站的行政单位！', 'error');
                                }
                            }
                        });
                    }
                });
				var selectedNode = $("#org-tree").tree("getSelected");
				var selectedOrgId = "";
				if (selectedNode!= null){
					$("#professional-system-code").val(selectedNode.attributes.parentCode);
					$("#station-system-code").val(selectedNode.attributes.code);
                    $("#station-system-name").val(selectedNode.text);
                    $("#select-node-type").val(selectedNode.attributes.typeName)
                    selectedOrgId = selectedNode.id;
					var orgParentTree = $("#indicator-code-select").combotree("tree");
					var orgNode = orgParentTree.tree("find", selectedNode.id);
					if (orgNode != null){
						$("#indicator-code-select").combotree('setValue', orgNode.id);
					} else {
						orgParentTree.tree("append", {
							data: [{ id: selectedNode.id, text: selectedNode.text, state: 'closed' }]
						});
						orgNode = orgParentTree.tree("find", selectedNode.id);
						$("#indicator-code-select").combotree('setValue', orgNode);
						orgParentTree.tree('select',orgNode.target);
						orgNode.target.style.display='none';
					}
				}
			},
			onClose : function() {
                $(this).dialog('destroy');
            },
			buttons: [
				{ 
					text: '保存',
					iconCls: 'fa fa-save', 
					handler: function(){
						submitDataForm("add-form", addDialog, "/stationSystem/save");
					} 
				},
				{ 
					text: '关闭', 
					iconCls: 'fa fa-close', 
					handler: function() { 
						addDialog.dialog('destroy'); 
					}
				}
			]
		});
	}
	
	function edit(){
		var selectedRows = $("#display-data-table").datagrid("getSelections");
		if (selectedRows == null || selectedRows.length == 0){
			$.messager.alert("提示信息", "您未选择要编辑的记录。", "warning");
		} else if (selectedRows.length > 1){
			$.messager.alert("提示信息", "您只能选择一条记录进行操作。", "warning");
		} else {
			var editDialog = $("<div></div>").dialog({
				title: '编辑数据',
				width: 630,
				height: 340,
				modal: true,
				iconCls: "fa fa-pencil-square-o",
				href: '/stationSystem/toEdit',
				onClose : function() {
	                $(this).dialog('destroy');
	            },
				onLoad: function(){
				    $("#station-type").val(queryType);
                    $("#indicator-code-select").combotree({
                        onChange:function(newValue,oldValue) {
                            $.ajax({
                                url: '/org/findById',
                                data: { id: newValue },
                                type: 'get',
                                dataType: 'json',
                                success: function(data){
                                    $("#professional-system-code").val(data.parent.code);
                                    $("#station-system-code").val(data.code);
                                    $("#station-system-name").val(data.name);
                                    $("#select-node-type").val(data.type.name);
                                    if(data.type.name !== '站'){
                                        $.messager.alert('提示信息', '请选择类型为站的行政单位！', 'error');
                                    }
                                }
                            });
                        }
                    });
					$.ajax({
						url: '/stationSystem/findById',
						data: { id: selectedRows[0].id },
						type: 'get',
						dataType: 'json',
						success: function(data){
							$("#indicator-id").val(data.id);
							$("#indicator-original-name").val(data.evaluationIndexName);
							$.ajax({
                                url: '/org/findByCode',
                                data: { code: data.stationSystemCode },
                                type: 'get',
                                dataType: 'json',
                                success: function(data){
                                	var orgParentTree = $("#indicator-code-select").combotree("tree");
					                var orgNode = orgParentTree.tree("find", data.id);
					                if (orgNode != null){
						                $("#indicator-code-select").combotree('setValue', data.id);
					                }else {
                                        orgParentTree.tree("append", {
                                            data: [{ id: data.id, text: data.name, state: 'closed' }]
                                        });
                                        orgNode = orgParentTree.tree("find", data.id);
                                        $("#indicator-code-select").combotree('setValue', orgNode);
                                        orgParentTree.tree('select',orgNode.target);
                                        orgNode.target.style.display='none';
                                    }
                                    $("#professional-system-code").val(data.parent.code);
                                    $("#station-system-code").val(data.code);
                                    $("#station-system-name").val(data.name);
                                    $("#select-node-type").val(data.type.name);
                                }
                            });
							$("#evaluation-index-name").textbox('setValue', data.evaluationIndexName);
							$("#evaluation-index-level").textbox('setValue', data.evaluationIndexLevel);
							$("#indicator-weights").textbox('setValue', data.weights);
						}
					});	
				},
				buttons: [
					{ 
						text: '保存', 
						iconCls: 'fa fa-save', 
						handler: function(){
							submitDataForm("edit-form", editDialog, "/stationSystem/update");
						} 
					},
					{ 
						text: '关闭', 
						iconCls: 'fa fa-close', 
						handler: function(){ 
							editDialog.dialog('destroy'); 
						} 
					}
				]
			});
		}
	}
	
	function dataRemove(){
		var selectedRows = $("#display-data-table").datagrid("getSelections");
		if (selectedRows == null || selectedRows.length == 0){
			$.messager.alert("提示信息", "您未选择要删除的记录。", "warning");
		} else {
			$.messager.confirm('删除确认', '您是否确认要删除选中的记录？', function(r){
				if (r){
					var ids = new Array();
					$.each(selectedRows, function(i, n){
						ids[i] = n.id;
					});
					
					$.ajax({
						url: '/stationSystem/delete',
						data: { "ids[]": ids },
						type: 'post',
						dataType: 'json',
						success: function(data){
							if (data.result){
								$.messager.show({ title:'提示信息', msg: data.msg, timeout:5000, showType: 'show' });
								$("#display-data-table").datagrid("reload");
								$("#display-data-table").datagrid("clearSelections");
							} else {
								$.messager.alert("提示信息", data.msg, "error");
							}
						}
					});	
				}
			});
		}
	}
	
	function submitDataForm(formId, dialog, url){
	    var validate;
		$("#" + formId).form('submit', {
			url: url,
			onSubmit: function(){
			    validate = $(this).form("validate");
			    var selectNodeType = $("#select-node-type").val();
			    if(selectNodeType !== '站'){
                    $.messager.alert('提示信息', '请选择类型为站的行政单位！', 'error');
                    validate = false;
                }
                return validate;
			},
			success: function(data){
			    if(validate){
                    data = $.parseJSON(data);
                    if (data.result){
                        dialog.dialog("destroy");
                        $.messager.show({ title:'提示信息', msg: data.msg, timeout:5000, showType: 'show' });
                        $("#display-data-table").datagrid("reload");
                        $("#display-data-table").datagrid("clearSelections");
                    } else {
                        $.messager.alert("提示信息", data.msg, "error");
                    }
				}
			}
		});
	}
	
	function searchPageData(){
	    var selectedNode = $("#org-tree").tree("getSelected");
		$("#display-data-table").datagrid('load', {
			'professionalSystemCode': selectedNode == null ? '' : selectedNode.attributes.parentCode,
			'stationSystemCode': selectedNode == null ? '' : selectedNode.attributes.code,
			'evaluationIndexName': $("#evaluation-index-name-key").textbox('getValue'),
			'evaluationIndexLevel': $("#evaluation-index-level-key").textbox('getValue'),
			'weights': $("#indicator-weights-key").textbox('getValue'),
			'stationType':queryType,
		});
	}




</script>
</body>
</html>