<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:bf="http://www.thymeleaf.org">
	
<body>
	<div class="easyui-layout" fit="true">
		<div data-options="region:'west',border:false" style="width:26%;">
			<div id="user-grant-resource-tree"></div>
		</div>
		<div data-options="region:'center',border:false">
			<table id="user-grant-resource-table"></table>
		</div>
	</div>
	<script th:inline="none">
		$("#user-grant-resource-tree").tree({
			url: '/resource/findGrantResourceTree',
			animate: true,
			onClick: function(node){
				searchResources();
			}
		});
		
		$("#user-grant-resource-table").datagrid({
			url: '/resPermission/findResources?ownerType=U&ownerId=' + $("#user-list-table").datagrid("getSelections")[0].id,
			idField: 'id',
			fit: true,
			fitColumns: true,
			striped: true,
			loadMsg: '数据加载中，请稍候...',
			pagination: true,
			pageSize: 20,
			rownumbers: true,
			checkOnSelect: true,
			nowrap: false,
			columns: [[
				{
					field: 'id',
					checkbox: true
				}, {
					field: 'resource.name',
					title: '资源名称',
					width: 40,
					formatter: function(value, row, index){
						return row.resource.name;
					}
				}, {
					field: 'resource.type',
					title: '资源类型',
					width: 30,
					formatter: function(value, row, index){
						return row.resource.type;
					}
				}, {
					field: 'resource.permCode',
					title: '权限码',
					width: 60,
					formatter: function(value, row, index){
						return row.resource.permissionCode;
					}
				}, {
					field: 'authorized',
					title: '授权状态',
					width: 30,
					formatter: function(value, row, index){
						return value ? "已授权" : "";
					}
				}
			]]
		});
		
		function searchResources(){
			var selectedNode = $("#user-grant-resource-tree").tree("getSelected"); 
			$("#user-grant-resource-table").datagrid('load', {
				'parentId': selectedNode == null ? '' : selectedNode.id
			});
		}
		
		function submitGrant(){
			var selectedRows = $("#user-grant-resource-table").datagrid("getSelections");
			if (selectedRows == null || selectedRows.length == 0){
				$.messager.alert("提示信息", "您未选择要授权的资源。", "warning");
				return;
			}
			
			var resourceIds = new Array();
			$.each(selectedRows, function(i, n){
				resourceIds[i] = n.id;
			});
			
			$.ajax({
				url: '/resPermission/save',
				data: {
					'ownerType': 'U',
					'ownerId': $("#user-list-table").datagrid("getSelections")[0].id,
					'resourceIds[]': resourceIds
				},
				type: 'post',
				dataType: 'json',
				success: function(data){
					if (data.result){
						$.messager.show({ title:'提示信息', msg: data.msg, timeout:5000, showType: 'show' });
						$("#user-grant-resource-table").datagrid('reload');
					} else {
						$.messager.alert('提示信息', data.msg, 'error');
					}	
				}
			});
		}
		
		function recoverGrant(){
			var selectedRows = $("#user-grant-resource-table").datagrid("getSelections");
			if (selectedRows == null || selectedRows.length == 0){
				$.messager.alert("提示信息", "您未选择要授权的资源。", "warning");
				return;
			}
			
			var resourceIds = new Array();
			$.each(selectedRows, function(i, n){
				resourceIds[i] = n.id;
			});
			
			$.ajax({
				url: '/resPermission/recover',
				data: {
					'ownerType': 'U',
					'ownerId': $("#user-list-table").datagrid("getSelections")[0].id,
					'resourceIds[]': resourceIds
				},
				type: 'post',
				dataType: 'json',
				success: function(data){
					if (data.result){
						$.messager.show({ title:'提示信息', msg: data.msg, timeout:5000, showType: 'show' });
						$("#user-grant-resource-table").datagrid('reload');
					} else {
						$.messager.alert('提示信息', data.msg, 'error');
					}	
				}
			});
		}
	</script>
</body>

</html>