<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:bf="http://www.thymeleaf.org">


<div class="table-container">
    <form id="edit-form" method="post">
        <input type="hidden" id="monitoring-id" name="id" value="0"/>
        <input type="hidden" id="monitoring-type" name="type" value="燃气加热炉监测项目与指标要求"/>
        <input type="hidden" id="monitoring-monitoringItemOne" name="monitoringItemOne" value="排烟温度"/>
        <input type="hidden" id="monitoring-monitoringItemTwo" name="monitoringItemTwo" value="空气系数"/>
        <input type="hidden" id="monitoring-monitoringItemThree" name="monitoringItemThree" value="热效率"/>
        <table class="edit-table">
            <tr>
                <th>加热炉额定额量下限（D>）：</th>
                <td>
                    <input id="monitoring-ratedDischargeMin" name="ratedDischargeMin" class="easyui-numberbox" data-options="min:0,precision:2,width:240" />
                </td>
            </tr>
            <tr>
                <th>加热炉额定额量上限（D<=）：</th>
                <td>
                    <input id="monitoring-ratedDischargeMax" name="ratedDischargeMax" class="easyui-numberbox" data-options="min:0,precision:2,width:240" />
                </td>
            </tr>
            <tr>
                <th>排烟温度限定值：</th>
                <td>
                    <input id="monitoring-monitoringItemOneLimit" name="monitoringItemOneLimit" class="easyui-numberbox" data-options="min:1,precision:2,required:true,width:240" />
                </td>
            </tr>
            <!--            <tr>-->
            <!--                <th>机组效率小于限定时评价：</th>-->
            <!--                <td>-->
            <!--                    <input id="monitoring-itemOneMinEvaluation" name="itemOneMinEvaluation" class="easyui-textbox" data-options="required:true,width:240" />-->
            <!--                </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <th>机组效率大于等于限定、小于节能时评价：</th>-->
            <!--                <td>-->
            <!--                    <input id="monitoring-itemOneMidEvaluation" name="itemOneMidEvaluation" class="easyui-textbox" data-options="required:true,width:240" />-->
            <!--                </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <th>机组效率大于节能时评价：</th>-->
            <!--                <td>-->
            <!--                    <input id="monitoring-itemOneMaxEvaluation" name="itemOneMaxEvaluation" class="easyui-textbox" data-options="required:true,width:240" />-->
            <!--                </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <th>机组效率%节能评价值：</th>-->
            <!--                <td>-->
            <!--                    <input id="monitoring-monitoringItemOneEnergy" name="monitoringItemOneEnergy" class="easyui-numberbox" data-options="min:1,precision:2,required:true,width:240" />-->
            <!--                </td>-->
            <!--            </tr>-->
            <tr>
                <th>热效率限定值：</th>
                <td>
                    <input id="monitoring-monitoringItemTwoLimit" name="monitoringItemTwoLimit" class="easyui-numberbox" data-options="min:1,precision:2,required:true,width:240" />
                </td>
            </tr>
            <tr>
                <th>热效率节能评价值：</th>
                <td>
                    <input id="monitoring-monitoringItemTwoEnergy" name="monitoringItemTwoEnergy" class="easyui-numberbox" data-options="min:1,precision:2,required:true,width:240" />
                </td>
            </tr>
            <tr>
                <th>空气系数限定值：</th>
                <td>
                    <input id="monitoring-monitoringItemThreeLimit" name="monitoringItemThreeLimit" class="easyui-numberbox" data-options="min:1,precision:2,required:true,width:240" />
                </td>
            </tr>
            <!--            <tr>-->
            <!--                <th>节流损失率小于等于限定时评价：</th>-->
            <!--                <td>-->
            <!--                    <input id="monitoring-itemThreeMaxEvaluation" name="itemThreeMaxEvaluation" class="easyui-textbox" data-options="required:true,width:240" />-->
            <!--                </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <th>节流损失率大于限定时评价：</th>-->
            <!--                <td>-->
            <!--                    <input id="monitoring-itemThreeMinEvaluation" name="itemThreeMinEvaluation" class="easyui-textbox" data-options="required:true,width:240" />-->
            <!--                </td>-->
            <!--            </tr>-->
        </table>
    </form>
</div>
</html>