<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:xunjia="http://www.thymeleaf.org">
	
<div class="table-container">
	<form id="edit-user-profile-form" method="post" enctype="multipart/form-data">
		<table class="edit-table">
			<tr>
				<th>电子邮箱：</th>
				<td>
					<input class="easyui-textbox" id="profile-email" name="email" data-options="width:240" />
				</td>
				<th>联系电话：</th>
				<td>
					<input class="easyui-textbox" id="profile-phone" name="phone" data-options="width:240" />
				</td>
			</tr>
			<tr>
				<th>身份证号：</th>
				<td>
					<input class="easyui-textbox" id="profile-idCard" name="idCard" data-options="width:240" />
				</td>
				<th>联系地址：</th>
				<td>
					<input class="easyui-textbox" id="profile-address" name="address" data-options="width:240" />
				</td>
			</tr>
			<tr>
				<th rowspan="2">用户头像：</th>
				<td>
					<img id="profile-head-image" class="radius-img" style="width:150px;" />
				</td>
				<th rowspan="2">电子签名：</th>
				<td>
					<img id="profile-sign-image" style="width:200px;" />
				</td>
			</tr>
			<tr>
				<td>
					<input class="easyui-filebox" id="profile-headImage" name="headImageFile" data-options="width:240,buttonText:'选择文件'" />
				</td>
				<td>
					<input class="easyui-filebox" id="profile-signImage" name="signImageFile" data-options="width:240,buttonText:'选择文件'" />
				</td>
			</tr>
			<tr>
				<th>默认首页：</th>
				<td colspan="3">
					<select class="easyui-combotree" id="profile-defaultMenu" name="defaultMenuId" data-options="
						width: 240,
						url: '/resource/findAuthorizedMenuTree',
						textField: 'name',
						valueField: 'id',
						editable: false
					">
					</select>
				</td>
			</tr>
		</table>
	</form>
</div>
</html>