<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:bf="http://www.thymeleaf.org">
	

<div class="table-container">
	<form id="add-form" method="post">
		<input type="hidden" id="station-system-code" name="stationSystemCode" />
		<input type="hidden" id="select-node-type" />
		<input type="hidden" id="device-category" name="deviceCategory" />
		<table class="edit-table">
			<tr>
				<th>站：</th>
				<td indicator-code>
					<select class="easyui-combotree" id="indicator-code-select" data-options="
						width: 240,
						url: '/org/getOrgTree',
						textField: 'name',
						valueField: 'id'
					">
					</select>
				</td>
			</tr>
			<tr>
				<th>类型：</th>
				<td indicator-code>
					<select class="easyui-combobox" id="device-type-code" name="deviceTypeCode" data-options="
						width: 240,
						url: '/basicDeviceType/findAllBasicDeviceTypes?deviceCategory=' + queryType,
						textField: 'deviceTypeName',
						valueField: 'deviceTypeCode',
                        editable: false,
                        required:true
					">
					</select>
				</td>
			</tr>
			<tr>
				<th>评价指标名称：</th>
				<td>
					<input class="easyui-textbox" id="evaluation-index-name" name="evaluationIndexName" data-options="required:true,width:240" />
				</td>
			</tr>
			<tr>
				<th>评价指标级别：</th>
				<td>
					<input class="easyui-textbox" id="evaluation-index-level" name="evaluationIndexLevel" data-options="required:false,width:240" />
				</td>
			</tr>
			<tr>
				<th>权重：</th>
				<td>
					<input class="easyui-textbox" id="indicator-weights" name="weights" data-options="required:false,width:240" />
				</td>
			</tr>
		</table>
	</form>
</div>
</html>