<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:bf="http://www.thymeleaf.org">


<div class="table-container">
	<form id="add-org-type-form" method="post">
		<table class="edit-table">
			<tr>
				<th>项目名称：</th>
				<td><input class="easyui-textbox" id="projectName" name="projectName"
						   data-options="required:true,width:300" /></td>
			</tr>
			<tr>
				<th>版本号：</th>
				<td><input class="easyui-textbox" id="version"
					name="version" data-options="required:true,width:300" /></td>
			</tr>
		</table>
	</form>
</div>
</html>