<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	

<div class="table-container">
	<form id="add-resource-form" method="post">
		<input type="hidden" id="resource-type" name="type" value="菜单" />
		<table class="edit-table">
			<tr>
				<th>资源大类：</th>
				<td>
					<select class="easyui-combobox" id="resource-category" name="category"
							data-options="editable:false,panelHeight:'auto',required:true,width:310">
						<option value="WEB" selected>WEB端</option>
						<option value="WX_APP">微信小程序</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>资源名称：</th>
				<td>
					<input class="easyui-textbox" id="resource-name" name="name" data-options="required:true,width:310" />
				</td>
			</tr>
			<tr>
				<th>资源编码：</th>
				<td>
					<input class="easyui-textbox" id="resource-code" name="code" data-options="width:310" />
				</td>
			</tr>
			<tr>
				<th>上级资源：</th>
				<td>
					<select class="easyui-combotree" id="resource-parent" name="parentId" data-options="
						width: 310,
						url: '/resource/findResourceTree',
						textField: 'name',
						valueField: 'id',
						required: true
					">
					</select>
				</td>
			</tr>
			<tr>
				<th>权限码：</th>
				<td>
					<input class="easyui-textbox" id="resource-permissionCode" name="permissionCode" data-options="width:310,required:true" />
				</td>
			</tr>
			<tr id="tr-resource-url">
				<th>链接地址：</th>
				<td>
					<input class="easyui-textbox" id="resource-url" name="url" data-options="width:310" />
				</td>
			</tr>
			<tr id="tr-resource-integrate-type">
				<th>集成方式：</th>
				<td>
					<select id="resource-integrate-type" name="integrateType" class="easyui-combobox"
						data-options="width:310,panelHeight:'auto',editable:false">
						<option value="div">div</option>
						<option value="iframe" selected>iframe</option>
						<option value="_blank">_blank</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>字符图标：</th>
				<td>
					<input class="easyui-textbox" id="resource-fontIcon" name="fontIcon" data-options="width:310,buttonText:'选择图标',onClickButton:showSelectFontIconDialog" />
				</td>
			</tr>
			<tr style="display:none;">
				<th>图形图标：</th>
				<td>
					<input class="easyui-filebox" id="resource-imgIcon" name="imgIconFile" data-options="width:310,accept:'image/gif,image/x-icon,image/png,image/jpg',buttonText:'选择图标'" />
				</td>
			</tr>
			<tr>
				<th>分级授权：</th>
				<td>
					<select class="easyui-combobox" id="resource-allowGrant" name="allowGrant"
					data-options="width:310,panelHeight:'auto',required:true,editable:false">
						<option value="1" selected>允许</option>
						<option value="0">不允许</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>排序号：</th>
				<td>
					<input class="easyui-numberbox" id="resource-orderNo" name="orderNo" data-options="required:true,min:0,precision:0,width:310" value="1" />
				</td>
			</tr>
		</table>
	</form>
</div>
</html>