<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<div class="table-container">
	<form id="edit-role-form" method="post">
		<input type="hidden" id="role-id" name="id" />
		<table class="edit-table">
			<tr>
				<th>角色名称：</th>
				<td><input class="easyui-textbox" id="role-name" name="name"
					data-options="required:true,width:240" /></td>
			</tr>
			<tr>
				<th>上级组织：</th>
				<td>
					<select class="easyui-combotree" id="role-org" name="organization.id" data-options="
						width: 240,
						url: '/org/getOrgTree',
						textField: 'name',
						valueField: 'id'
					">
					</select>
				</td>
			</tr>
			<tr>
				<th>排序号：</th>
				<td><input class="easyui-numberbox" id="role-orderNo"
					name="orderNo"
					data-options="required:true,min:0,precision:0,width:240" value="1" />
				</td>
			</tr>
		</table>
	</form>
</div>
</html>